@font-face {
    font-family: 'Avenir-Black';
    src: url('https://teonoci.github.io/frontcss/Avenir-Black.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-BlackOblique';
    src: url('https://teonoci.github.io/frontcss/Avenir-BlackOblique.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('https://teonoci.github.io/frontcss/Avenir-Book.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-BookOblique';
    src: url('https://teonoci.github.io/frontcss/Avenir-BookOblique.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-BookOblique.woff') format('woff');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('https://teonoci.github.io/frontcss/Avenir-Heavy.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-HeavyOblique';
    src: url('https://teonoci.github.io/frontcss/Avenir-HeavyOblique.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-HeavyOblique.woff') format('woff');
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('https://teonoci.github.io/frontcss/Avenir-Light.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-LightOblique';
    src: url('https://teonoci.github.io/frontcss/Avenir-LightOblique.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('https://teonoci.github.io/frontcss/Avenir-Medium.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-MediumOblique';
    src: url('https://teonoci.github.io/frontcss/Avenir-MediumOblique.woff2') format('woff2'),
         url('https://teonoci.github.io/frontcss/Avenir-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: oblique;
}
